body {
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
}

.for-links {
  text-decoration: none;
}

:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --descript-color: #757575;
  --backgtound-color: #2f303a;
  --sec-backgtound-color: #f5f4fa;
  --fff-color: #ffffff;
  --link-hover: #188ce8;
  --amogus-color: #000000;
  --font-family: "Raleway", sans-serif;
}

.studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

/********************** Друга секція **********************/

.title-second-sec {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.descript-second-sec {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/********************** Третя секція **********************/

.title-third-fourth-sec {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/********************** Четверта секція **********************/

.background-fourth-sec {
  background: var(--sec-backgtound-color);
}

.title-fourth-sec {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.descript-fourth-sec {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/********************** Перша секція **********************/

.first-section {
  background: var(--backgtound-color);
}

.efficient-solution {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fff-color);
}

.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--fff-color);
  cursor: pointer;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.social-links .link {
  color: rgb(255, 255, 255);
}

.link:hover,
.link:focus {
  background-color: var(--link-hover);
}

/********************** Псевдоклас в кнопках навігації **********************/

.a-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--title-color);
}

.main-a-nav .a-nav:hover,
.main-a-nav .a-nav:focus {
  color: var(--brand-color);
}

/********************** contact **********************/

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--descript-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--brand-color);
}

/* .filter {

} */

/********************** Стилізуєм лого **********************/

.logo {
  text-decoration: none;
}

.logo-accent {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-simp {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--amogus-color);
}

.logo-simp-footer {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--fff-color);
}

/********************** Забираєм маркери **********************/

.none-marker {
  list-style-type: none;
}

/********************** button **********************/

.portfolio-button {
  cursor: pointer;
  background: var(--sec-backgtound-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: white;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/********************** Опис картинок в портфоліо **********************/
.pic-descript {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.under-pic-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

/**********************  Footer bg **********************/

.footer-bg {
  color: var(--fff-color);
  background: var(--backgtound-color);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fff-color) ;
}

.footer-a-nav {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-a-nav:hover,
.footer-a-nav:focus {
  color: rgb(255, 255, 255);
}
